<%- include('header') %>
<%- include('navbar') %>
<%- include('search') %>
<div class="home-container">
    <div class="home">
        <div class="home-divide">
            <div class="home-content">
                <div class="home-content-imgdiv">
                    <img src="/route/images/cnamelogo.jpg" class="home-content-img" alt="Network error">
                </div>
                <div class="home-content-textdiv">
                    <p class="home-content-text">Amiverse is a Online Library platform for Amitians where they can find latest question papers and study
                        material for their course. Amiverse can't run on its own. We will require your support for improving with time. We hope you
                        will help us.
                    </p>
                </div>
            </div>
            <!-- <div class="home-Contribute"><a href="#home"><img src="/route/images/contribute.jpg" alt="Image not Loaded" class="home-cse-contribute"></a></div> -->
        </div>
        <br>
        <div class="home-recent">
            <p class="home-recent-heading">Recently Uploaded</p>
            <%- include('searchRenderer') %>
        </div>
    </div>

    <%- include('notice') %>
</div>
<h1 class="home-aset-h">Engineering Study Material</h1>
<!-- <a href="https://amiversestorage.blob.core.windows.net/amiverse0storage0container">DBMS</a> -->
<div class="home-aset">
    <div class="home-aset-t1">
        <div class="home-aset-t1-heading"><h2 class="home-aset-t1-heading-h">Computer Science Engineering<span class="material-symbols-outlined"></h3></div>
        <div class="home-aset-t1-subject"><a href="/cse/sem1" class="home-aset-t1-subject-a">Engineering Mechanics<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/cse/sem1" class="home-aset-t1-subject-a">Applied Mathematics<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/cse/sem3" class="home-aset-t1-subject-a">Basic Electronics<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/cse/sem3" class="home-aset-t1-subject-a">Data Structures Using C<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/cse/sem4" class="home-aset-t1-subject-a">Java Programming<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject" style="border-bottom: 2px solid black;"><a href="/cse/sem3" class="home-aset-t1-subject-a">OOPS Using C++<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject" style="text-align: center;border-top: none;padding-top: 20px;"><a href="/cse" class="home-aset-t1-subject-a">View More</a></div>
    </div>

    <div class="home-aset-t1">
        <div class="home-aset-t1-heading"><h2 class="home-aset-t1-heading-h">BCA</h3></div>
        <div class="home-aset-t1-subject"><a href="/bca" class="home-aset-t1-subject-a">Computer Applications<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/bca" class="home-aset-t1-subject-a">Principles of Operating Systems<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/bca" class="home-aset-t1-subject-a">Cloud Security<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/bca" class="home-aset-t1-subject-a">Internet of Things<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/bca" class="home-aset-t1-subject-a">Animation and Gaming<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject" style="border-bottom: 2px solid black;"><a href="" class="home-aset-t1-subject-a">Python Programming<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject" style="text-align: center;border-top: none;padding-top: 20px;"><a href="/bca" class="home-aset-t1-subject-a">View More</a></div>
    </div>

    <div class="home-aset-t1">
        <div class="home-aset-t1-heading"><h2 class="home-aset-t1-heading-h">Artificial Intelligence</h3></div>
        <div class="home-aset-t1-subject"><a href="/ai" class="home-aset-t1-subject-a">Basic Electrical Engineering<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/ai" class="home-aset-t1-subject-a">Engineering Chemistry<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/ai" class="home-aset-t1-subject-a">Applied Mathematics<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/ai" class="home-aset-t1-subject-a">DBMS<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject"><a href="/ai" class="home-aset-t1-subject-a">Artificial Intelligence<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject" style="border-bottom: 2px solid black;"><a href="/ai" class="home-aset-t1-subject-a">Multi Agent Systems<img class="aset-arrow-icon" src="https://amiversestorage.blob.core.windows.net/amiverse0icons/more.png">
            </a></div>
        <div class="home-aset-t1-subject" style="text-align: center;border-top: none;padding-top: 20px;"><a href="/ai" class="home-aset-t1-subject-a">View More</a></div>
    </div>
</div>
<div class="reviews">
    <div class="reviews-div-img">
        <a href="/comingSoon" class="reviews-a"><img src="/route/images/reviews.jpg" class="reviews-img" alt="Network error"></a>
    </div>
        <a class="reviews-button" href="/comingSoon">Share your experience <span class="material-symbols-outlined" style="font-size: 22px;">
            </a>
</div>

<div class="latestPapers">
    <h1 class="latestPapers-h">Latest 2022 Question Papers</h1>
    <div class="searchRenderer2">
          <div class="searchRenderer2-content-paper"><img src="/route/images/data structure algorithm.jpg" alt="Image not available" class="searchRenderer2-content-paper-img"></div>
          <div class="searchRenderer2-content-paper"><img src="/route/images/java programming.jpg" alt="Image not available" class="searchRenderer2-content-paper-img"></div>
          <div class="searchRenderer2-content-paper"><img src="/route/images/digital electronics.jpg" alt="Image not available" class="searchRenderer2-content-paper-img"></div>
</div>
<%- include('searchRenderer3') %>
<%- include('footer') %>