<%- include('header') %>
<%- include('navbar') %>
<%- include('search') %>
<%- include('year-filter') %>

<div class="filter-result" id="filterResult">
  <h1 class="filter-result-h1">Result</h1>
  <%- include('searchRenderer') %>
</div>
<%- include('searchRenderer3') %>
<%- include('footer') %>